@charset "UTF-8";
/* CSS Document */


#faq nav .faq {
	background: #b5e6ff;
}

/* index */
#faq  .liquid span.faqBox {
	margin-right:-10px;
}

#faq .faqBox a.btn{
	padding: 14px 40px 12px 20px;
	vertical-align:middle;
	background:#ffffff;
}

#faq .faqBox a.btn .faqBox{
	display:table-cell;
}

#faq .faqBox a.btn .faqBox span{
	display:table-cell;
	height:26px;
	vertical-align:middle;
	box-sizing:border-box;
}

#faq  .liquid span.faq_q01 {
	display:inline;
	float:left;
	margin:0 7px 0 0;
	padding:6px 8px 2px;
	color:#FFFFFF;
	background-color:#009CE5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	vertical-align:middle;
}

#faq .liquid span.faq_q_txt01{
	overflow:hidden;
	display:block;
}

#faq  .ui-body ul li span.faq_q02 {
	display:table-cell;
	margin:0 7px 0 0;
	height:26px;
	padding:6px 8px 2px;
	color:#FFFFFF;
	float:left;
	vertical-align:middle;
	background-color:#009CE5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-sizing:border-box;
	font-size:87.5%;
}
#faq .ui-body ul li span.faq_q_txt02{
	display:table-cell;
	vertical-align:middle;
	height:26px;
	font-size:87.5%;
}
#faq .ui-body ul li {
	padding:10px 0;
	border-bottom:solid 1px #CCCCCC;
}

#faq .ui-body ul li:last-child {
	border:none;
}

#faq .ui-body ul li a{
	display:block;
	text-decoration:none;
}

#faq .ui-body span.raquo {
	color:#CC0000;
	margin-right:3px;
}

/* 詳細 */
#faq  .details h3 {
	margin:0 0 15px;
	border-bottom:solid 1px #CCCCCC;
}

#faq  .details .qBox {
	padding-bottom:10px;
	border-bottom:dashed 1px #CCCCCC;
}
#faq  .details .faq_q {
	display:inline;
	float:left;
	margin:0 7px 0 0;
	padding:4px 8px;
	color:#FFFFFF;
	background-color:#009CE5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight:bold;
}

#faq .details .faq_q_txt{
	overflow:hidden;
	display:block;
	margin:0;
	padding:0;
	font-weight:bold;
	color:#0452A3;
}
#faq  .details .aBox {
	margin-top:10px;
}
#faq  .details .faq_a {
	display:inline;
	float:left;
	margin:0 7px 0 0;
	padding:4px 8px;
	color:#FFFFFF;
	background-color:#CC0000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight:bold;
}

#faq .details .faq_a_txt{
	overflow:hidden;
	display:block;
	margin:0;
	padding:0;
}

#faq .details .faq_a_txt p{
	margin-bottom:1em;
}

#faq .rev{
	text-align:center;
	margin-bottom:50px;
}

#faq .rev a{
	background:url(accordion/themes/images/icons-png/carat-l-white.png) 5px 50% no-repeat;
	margin:0 auto;
	padding:5px 10px 4px 17px;
	text-align:center;
	display:inline;
	color:#FFFFFF;
	background-color:#009CE5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-weight:bold;
	text-decoration:none;
}

#faq .ul_indent li{
	list-style-type:disc;
	list-style-position: outside;
	margin-left:2em;
	margin-bottom:0.5em;
}

#faq .ul_indent_in li{
	list-style-type:disc !important;
	list-style-position: outside !important;
	margin-left:1.5em !important;
}

#faq .ul_decimal li{
	list-style-type: decimal;
	list-style-position: outside;
	margin-left:2em;
	margin-bottom:1.5em;
}

#faq .ul_normal li{
	margin-bottom:1em;
}

#faq_category .ui-body{
	padding:0 20px !important;
}

.head { font-weight: bold; cursor: pointer; margin:15px;}
.row{display: none;} 