@charset "UTF-8";

/* -------------------------------------
  bighikari_smartvalue.html用スタイル
-------------------------------------- */

/* -------------------------------------
　モバイル 768px未満
-------------------------------------- */
@media (max-width: 767px) {
    .il_family {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

/* -------------------------------------
　PC
-------------------------------------- */
@media (min-width: 768px) {}

/* -------------------------------------
　汎用
-------------------------------------- */
.il_family {
    width: 100%;
    max-width: 326px;
}
