@charset "UTF-8";
/* CSS Document */
@charset "UTF-8";
/* CSS Document */

/* common */
html, body, div, h1, h2, h4, h5, h6,
p, address, blockquote,
ul, ol, li, dl, dt, dd,
table, th, td, form, fieldset,
section, hgroup, nav, article, aside, header, footer {
	margin: 0;
	padding: 0;
	font-size: 100%;
}
section, hgroup, nav, article, aside, header, footer {
	display: block;
} 
img {
	border: none;
	vertical-align: bottom;
}
ul li{
	list-style-type: none;
}

/* clearfix */
.clfix:after {
  	content: "."; 
  	display: block; 
  	height: 0; 
  	clear: both; 
  	visibility: hidden;
}
.clfix {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clfix {
	height: 1%;
}
.clfix {
	display: block;
}
/* End hide from IE-mac */

body {
	background: #fff;
	text-align: center;
	color: #444;
	font-family:'メイリオ',Meiryo,'ＭＳ Ｐゴシック',Verdana,arial,helvetica,clean,sans-serif;
	font-size: 14px;
	-webkit-text-size-adjust: none;
}
a {
	color:#0099FF;
	text-decoration:underline;
}
#inner {
	text-align:left;
}
.mb20 {
	margin-bottom:20px !important;
}
.mb2 {
	margin-bottom:2px !important;
}
/* header */
header {
	background: #ffffff;
	padding:11px 9px;
}

#inner h1 {
	background: url(/bsma004/images/img_title_bg.png) 0 0 no-repeat;
	color: #006699;
	padding:6px 24px;
	border-top:1px solid #009ce5;
	border-bottom:1px solid #009ce5;
	font-weight: normal;
	vertical-align: baseline;
	font-size: 75%;
	background-size:cover;
}
#inner h1.news {
	border-style: none;
}
#inner h1 strong {
	font-size: 140%;
	vertical-align: baseline;
}

#inner .headnavi{
	border-top:1px solid #006699;
	border-bottom:2px solid #006699;
	background:#ffffff;
}

#inner nav {
	text-align:center;
	margin:0;
	padding:0;
}
#inner nav ul,
#inner nav.foot ul {
	width:100%;
	margin:0 auto;
	position: relative;
}
#inner nav ul li,
#inner nav.foot ul li {
	float:left;
	width: 25%;
	margin:0;
	text-align: center!important;
	position: relative;
}
#inner nav.foot {
	background-color:#ffffff;
	text-align:center;
	margin:0;
	border-top:2px solid #006699;
	border-bottom:2px solid #006699;
}
#inner nav ul li a {
	display: block;
	padding-top: 48px;
	height: 68px;
	font-size: 85.7%;
	vertical-align: bottom;
	border-left:1px solid #006699;
	box-sizing:border-box;
}
#inner nav ul li a:link,
#inner nav ul li a:active,
#inner nav ul li a:hover,
#inner nav ul li a:visited {
	color: #006699;
	text-decoration: none;
}
#inner nav .news a {
	background: url(/bsma004/images/tab_top_01.png) 50% 10px no-repeat;
	background-size:34px;
}
#inner nav .setup a {
	background: url(/bsma004/images/tab_setup_01.png) 50% 10px no-repeat;
	background-size:32px;
}
#inner nav .faq a {
	background: url(/bsma004/images/tab_faq_01.png) 50% 10px no-repeat;
	background-size:30px;
}
#inner nav .protocol a {
	background: url(/bsma004/images/tab_protocol_01.png) 50% 10px no-repeat;
	background-size:24px;
}
#inner nav ul li .newbox {
	position: absolute;
	top: 2px;
	right: 2px;
/*	background: #fd3566;*/
	color: #ffffff;
	padding: 0 4px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	font-size: 75%;
	display: none;
}
#inner nav ul li.new .newbox {
	display: block;
}

#inner .mainimg {
	margin:0;
}
#inner .mainimg #main {
/*
	width:480px;
	height:255px;
*/
	position:relative;
	margin:0 auto;
}
#inner .mainimg #main img {
	width: 100%;
}
#inner .mainimg #main p {
	width:260px;
	text-align:left;
	line-height:1.6;
	text-shadow: 0 0 1px #b0b0b0;
	position:absolute;
	top:160px;
	left:20px;
}

#inner .mybiglobe {
	text-align:center;
	margin:20px 0 30px;
}
#inner .mybiglobe a {
	background:url(/bsma004/images/icon_mypage.jpg) no-repeat left top;
	padding:8px 0 10px 28px;
	
	line-height: 1.1;
	text-shadow: 0 0 1px #CCC;
}
#inner .pagetop {
	text-align:right;
	margin-bottom:12px;
}
#inner .pagetop a {
	background:url(/bsma004/images/pagetop.jpg) no-repeat left center;
	padding:0 0 0 26px;
	
	line-height: 1.1;
	text-shadow: 0 0 1px #CCC;
	color:#000;
	text-decoration:none;
}

/* footer */
footer {
	width: 100%;
	padding: 10px 0;
	text-align: center;
	background: #EEEEEE;
	border-top:solid 1px #C7C7C7;
}
footer  p.flink {
	line-height: 1.1;
	font-size: 12px;
	text-shadow: 0 0 1px #CCC;
}
footer p.copyright {
	color: #000;
	line-height: 1.1;
	text-shadow: 0 0 1px #CCC;
	padding:8px 0 10px;
}


/*	top.cssから移動 */
.box-wrap {
	padding-bottom:0px;
}
h2 {
	color: #272423;
	font-size: 135.7%;
	text-align:left;
	padding:22px 20px 16px;
/*	margin-top: -6px;*/
	margin:0;
	/*text-shadow: 0px -1px 0px rgba(000,000,000,0.2),0px 1px 0px rgba(255,255,255,0.3);*/
	
	background: rgb(222,232,237);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlZThlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYmZiZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(222,232,237,1) 0%, rgba(251,251,252,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,232,237,1)), color-stop(100%,rgba(251,251,252,1)));
	background: -webkit-linear-gradient(top,  rgba(222,232,237,1) 0%,rgba(251,251,252,1) 100%);
	background: -o-linear-gradient(top,  rgba(222,232,237,1) 0%,rgba(251,251,252,1) 100%);
	background: -ms-linear-gradient(top,  rgba(222,232,237,1) 0%,rgba(251,251,252,1) 100%);
	background: linear-gradient(to bottom,  rgba(222,232,237,1) 0%,rgba(251,251,252,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dee8ed', endColorstr='#fbfbfc',GradientType=0 );
}

.box-wrap section {
	padding:0 20px;
}
.box-wrap section.liquid {
	border-top:1px solid #e6e6e6;
	padding:0;
}
.box-wrap .btn1 {
	text-decoration: none;
	text-align: left;
	font-size: 13px;
	display: block;
	width: 100%;
	padding: 20px 20px 18px;
	position:relative;
	margin:0 auto;
	border-radius: 0px!important;
	-moz-border-radius: 0px!important;
	-webkit-border-radius: 0px!important;
	box-sizing:border-box;
}

.box-wrap .btn1 span{
	display:block;
	margin:0 20px 0 0;
	font-size:114.3%;
	font-weight:bold;
}

.box-wrap .btn1 span span{
	font-size:100%;
}

.box-wrap .btn1left {
	text-decoration: none;
	font-weight: bold;
	text-align: left;
	font-size: 13px;
	display: block;
	width: 100%;
	padding: 24px 0;
	position:relative;
	margin:0 auto;
	border-radius: 0px!important;
	-moz-border-radius: 0px!important;
	-webkit-border-radius: 0px!important;
	border-style: none!important;
	-moz-box-shadow: 0px 2px 0px rgba(000,000,000,0.5)!important;
	-webkit-box-shadow: 0px 2px 0px rgba(000,000,000,0.5)!important;
}
.box-wrap .btn2 {
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	display: block;
	width: 40%;
	padding: 7px 20px 5px;
	position:relative;
	margin:0 20px 0 auto;
}
.box-wrap .btn3 {
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	display: block;
	width: 100%;
	padding: 14px 0;
	position:relative;
}
.box-wrap .btn4 {
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	display: block;
	width: 100%;
	padding: 12px 0;
	position:relative;
	margin: 0 auto;
}
.box-wrap .btn4 div {
	background: #f00;
	padding: 12px 0;
	background: url(/bsma004/images/ic_member_01.png) 3% 50% no-repeat;
}

.liquid .btn{
	border-top:none !important;
}

.box-wrap .btn {
	background: url(/bsma004/images/img_arrow_gray.png) 96% 50% no-repeat;
	color: #575757;
	border: 1px solid #dddddd;
	font-size: 100%;
	background-size:8px;
}
.box-wrap .btn_na {
	display:block;
	color: #575757;
	border-radius: 0px;
	border-bottom: 1px solid #e6e6e6;
	font-size: 125%;
}

.box-wrap a.btn_na dl{
	background:url(/bsma004/images/img_arrow_gray.png) 100% 50% no-repeat;
	background-size:8px;
}

.btn dl {
	margin:0 auto;
	width:auto;
}
.btn dl dt {
	clear: left;
	float:left;
	padding:0 15px;
}
.btn dl dd {
	padding:0 1em 0 7.5em;
	text-align:left;
}

.btn .arrow {
	position:absolute;
	top:38%;
	right:10px;
}
.btn .arrow2 {
	position:absolute;
	top:45%;
	right:10px;
}
.btn .arrow3 {
	position:absolute;
	top:18%;
	right:10px;
}
.btn .thumb {
	position:absolute;
	top:30px;
	left:17px;
}
.btn .service {
	width:auto;
	padding:0;
	text-align:left;
	min-height:69px;
	background: url(/bsma004/images/thumb_service_01.png) 3% 50% no-repeat;
	line-height:69px;
	text-align:center;
}
.btn .service02 {
	width:auto;
	padding:20px 25px 0 80px;
	text-align:left;
	min-height:69px;
	background: url(/bsma004/images/thumb_service_02.png) 3% 50% no-repeat;
	font-size:93%;
}
.btn .service p {
	font-size:120%;
}
.btn .service dl {
	margin-top:1em;
	font-size:87.5%;
}
.btn .service dl dt {
	clear: left;
	float:left;
	padding:0px;
}
.btn .service dl dd {
	padding-left:7em;
	text-align:left;
}

.btn_na dl {
	margin:0 auto;
	width:auto;
}

.btn_na dl dt {
	clear: left;
	/*float:left;*/
	padding:0 0 6px;
	color:#666666;
	font-size:66.7%;
}
.btn_na dl dd {
	padding:0;
	text-align:left;
	font-size:77.8%;
}

.pdfbox {
	width: 100%;
	margin: 0 auto;
	border-top: 5px solid #6AE22D;
	padding: 10px 0;
}
.pdfbox p,
.pdfbox ul {
	width: 90%;
	margin: 0 auto;
}
.pdfbox p {
	font-weight: bold;
	font-size: 120%;
}
.pdfbox ul li {
	padding: 10px 0 10px 50px;
	background: url(/bsma004/images/pdficon_large.png) 0 50% no-repeat;
}

.serviceArea{
	margin:20px;
	border:1px solid #e5e5e5;
	border-radius:10px;
	background:#ffffff;
}

.serviceArea h2{
	margin:0;
	padding:20px 0;
	text-align:center;
	border:none;
	background:none;
}

.serviceArea h2 span{
	display:inline-block;
	padding:0 0 4px;
	border-bottom:2px solid #006699;
}

.serviceArea .iconService{
	padding:0 10px 20px;
}

.serviceArea .iconService ul{
	width:100%;
}

.serviceArea .iconService ul li{
	display:inline-block;
	text-align:center;
	width:25%;
}

.serviceArea .iconService ul li a{
	width:100%;
	display:block;
	font-size:55.0%;
	color:#575757;
	text-decoration:none;
	line-height:1.6;
}

.serviceArea .iconService ul li a img{
	width:80%;
	padding:0 0 4px;
}

.serviceLink{
	margin:0;
	padding:0 !important;
}

.serviceLink li{
	border-top:1px solid #e5e5e5;
}

.serviceLink li a{
	display:block;
	padding:14px 14px 12px 54px;
	color:#575757;
	text-decoration:none;
	background-size:24px;
}

.serviceLink01{
	background:url(/bsma004/images/thumb_service_05.png) 18px 50% no-repeat;
}

.serviceLink02{
	background:url(/bsma004/images/thumb_service_06.png) 18px 50% no-repeat;
}

.serviceLink03{
	background:url(/bsma004/images/thumb_service_07.png) 18px 50% no-repeat;
}

.serviceLink li a span{
	display:block;
	background:url(/bsma004/images/img_arrow_gray.png) 100% 50% no-repeat;
	background-size:8px;
}

.pageTop{
	text-align:center;
	padding:0 0 20px;
}

.pageTop img{
	width:30px;
}


/*dl02140901.html用*/
.box-wrap .wrapper{
	margin:10px 30px 20px 30px;
}
.box-wrap .wrapper p{
	margin-top:1em;
	margin-bottom:1em;
}

.box-wrap .wrapper ol{
	list-style-type:decimal;
	margin-left:1.5em;
	
}

.box-wrap .wrapper ol li{
	margin:1em 0;
}
.box-wrap .wrapper #link_area {
	font-size:120%;
	margin:40px auto 20px auto;
	width:70%;
}

.box-wrap .wrapper #link_area li#left{
	float:left;
	
}
.box-wrap .wrapper #link_area li#right{
	float:right;
}

h3{
	margin: 60px 0 0 0;
	padding: 0;
	font-size: 100%;
}
	
/*news/201410.html用*/

.box-wrap .wrapper_news{
	margin:10px 30px 20px 30px;
}
.lead{
	margin:1.5em;
}
	
#update_note th, td {
  width: 100%;
  display: block;
　-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding:8px;

}
#update_note th{
	  font-weight:bold;
  background-color:#BCBCBC;
  }
 
#attention_list {
	margin:0 0 1.5em 1.5em;
}
#attention_list li, .disc_list li{
	list-style:disc !important;
	list-style-position:inside;
}
.disc_list{
	margin-left:1.5em;
}
#square{
	margin-left:1.5em;
}
#square li{
	list-style-type:square !important;
}
.mt10{
	margin-top:10px;
}
.ml10{
	margin-left:10px;
}


.indent{
	text-indent:-1em;
	margin-left:1em;
}

.red_text{
	color:#ff0000;
}