@charset "UTF-8";
/* CSS Document */


#index #main{
	position:relative;
}

#index #main img{
	width:100%;
}

#index #main ul{
	width:43%;
	position:absolute;
	top:32%;
	right:0;
}

#index #main ul li{
	margin:0 0 8%;
}

#index nav .news {
	background: #b5e6ff;
}

#index .download{
	background:url(/bsma004/images/img_main_05.png) 96% 50px no-repeat, #00bbd3;
	padding:0 34% 20px 20px;
	background-size:100px;
}

#index .download h2{
	padding:22px 0 16px;
	color:#ffffff;
	border:none;
	background:none;
}

#index .download li{
	margin:0 0 10px;
}

#index .download li a{
	display:block;
	color:#006666;
	text-decoration:none;
	background:url(/bsma004/images/img_main_06.png) 10px 48% no-repeat, #ffffff;
	background-size:20px;
	line-height:1.4;
	padding:14px 10px 12px 40px;
	font-size:78.6%;
	border-radius:2px;
	box-shadow:0 2px 4px #008c9e;
	box-sizing:border-box;
}