@charset "shift_jis";
/* CSS Document */

#index .box-wrap {
	padding-bottom:0px;
/*	background-color:#d8e0e5;*/
}
#index h2 {
	background:#349933;
	color: #ffffff;
	font-size: 180%;
	text-align:left;
	padding:8px 20px 5px;
	border-bottom:8px solid #6ad32d;
/*	margin-top: -6px;*/
	margin-bottom:20px;
	text-shadow: 0px -1px 0px rgba(000,000,000,0.2),0px 1px 0px rgba(255,255,255,0.3);
}
#index .box-wrap h2 {
	border-bottom:3px solid #6ad32d;
	text-align:center;
	padding:8px 0 5px;
}
#index .box-wrap section {
	padding:0 20px;
	margin-bottom:20px;
}
#index .box-wrap section.liquid {
	padding:0;
}
#index .box-wrap section.tomy {
	padding:20px;
	background: #E9FFC5;
}
#index .box-wrap .btn1 {
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	display: block;
	width: 100%;
	padding: 24px 0;
	position:relative;
	margin:0 auto;
	border-radius: 0px!important;
	-moz-border-radius: 0px!important;
	-webkit-border-radius: 0px!important;
	border-style: none!important;
	-moz-box-shadow: 0px 2px 0px rgba(000,000,000,0.5)!important;
	-webkit-box-shadow: 0px 2px 0px rgba(000,000,000,0.5)!important;
}

#index .box-wrap .btn1left {
	text-decoration: none;
	font-weight: bold;
	text-align: left;
	font-size: 13px;
	display: block;
	width: 100%;
	padding: 24px 0;
	position:relative;
	margin:0 auto;
	border-radius: 0px!important;
	-moz-border-radius: 0px!important;
	-webkit-border-radius: 0px!important;
	border-style: none!important;
	-moz-box-shadow: 0px 2px 0px rgba(000,000,000,0.5)!important;
	-webkit-box-shadow: 0px 2px 0px rgba(000,000,000,0.5)!important;
}
#index .box-wrap .btn2 {
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	display: block;
	width: 40%;
	padding: 7px 20px 5px;
	position:relative;
	margin:0 20px 0 auto;
}
#index .box-wrap .btn3 {
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	display: block;
	width: 100%;
	padding: 14px 0;
	position:relative;
}
#index .box-wrap .btn4 {
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	display: block;
	width: 100%;
	padding: 12px 0;
	position:relative;
	margin: 0 auto;
}
#index .box-wrap .btn4 div {
	background: #f00;
	padding: 12px 0;
	background: url(/ne202/images/ic_member_01.png) 3% 50% no-repeat;
}

#index .box-wrap .btn {
	background: url(/ne202/images/ic_arrow_01.png) 98% 50% no-repeat, -moz-linear-gradient(top,#e3eaed 0%,#a9beba);
	background: url(/ne202/images/ic_arrow_01.png) 98% 50% no-repeat,-webkit-gradient(linear, left top, left bottom, from(#e3eaed),to(#a9beba));
	color: #333;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #dddddd;
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow: 0px -1px 0px rgba(000,000,000,0.2),0px 1px 0px rgba(255,255,255,0.3);
	font-size: 125%;
}
#index .box-wrap .btn_na {
 background:-moz-linear-gradient(top,#e3eaed 0%,#a9beba);
	background:-webkit-gradient(linear, left top, left bottom, from(#e3eaed),to(#a9beba));
	color: #333;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #dddddd;
	-moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 1px rgba(255,255,255,0.6);
	-webkit-box-shadow: 0px 1px 3px rgba(000,000,000,0.5),inset 0px 0px 1px rgba(255,255,255,0.6);
	text-shadow: 0px -1px 0px rgba(000,000,000,0.2),0px 1px 0px rgba(255,255,255,0.3);
	font-size: 125%;
}

.btn dl {
	margin:0 auto;
	width:auto;
}
.btn dl dt {
	clear: left;
	float:left;
	padding:0 15px;
}
.btn dl dd {
	padding:0 1em 0 7.5em;
	text-align:left;
}

.btn .arrow {
	position:absolute;
	top:38%;
	right:10px;
}
.btn .arrow2 {
	position:absolute;
	top:45%;
	right:10px;
}
.btn .arrow3 {
	position:absolute;
	top:18%;
	right:10px;
}
.btn .thumb {
	position:absolute;
	top:30px;
	left:17px;
}
.btn .service {
	width:auto;
	margin-top:15px;
	padding:5px 25px 0 100px;
	text-align:left;
	min-height:69px;
	background: url(/ne202/images/thumb_service_01.png) 3% 50% no-repeat;
}
.btn .service02 {
	width:auto;
	padding:5px 25px 0 100px;
	text-align:left;
	min-height:69px;
	background: url(/ne202/images/thumb_service_02.png) 3% 50% no-repeat;
}
.btn .service p {
	font-size:120%;
}
.btn .service dl {
	margin-top:1em;
	font-size:87.5%;
}
.btn .service dl dt {
	clear: left;
	float:left;
	padding:0px;
}
.btn .service dl dd {
	padding-left:7em;
	text-align:left;
}

.btn_na dl {
	margin:0 auto;
	width:auto;
}

.btn_na dl dt {
	clear: left;
	float:left;
	padding:0 15px;
}
.btn_na dl dd {
	padding:0 1em 0 7.5em;
	text-align:left;
}

#tab1 {
}
#tab2 {
	padding: 20px 0 0;
	display: none;
}
#tab2 .liquid .btn {
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
}
.pdfbox {
	width: 100%;
	margin: 0 auto;
	border-top: 5px solid #6AE22D;
	padding: 10px 0;
}
.pdfbox p,
.pdfbox ul {
	width: 90%;
	margin: 0 auto;
}
.pdfbox p {
	font-weight: bold;
	font-size: 120%;
}
.pdfbox ul li {
	padding: 10px 0 10px 50px;
	background: url(/ne202/images/pdficon_large.png) 0 50% no-repeat;
}
#tab3 {
	padding: 20px 0 0;
	display: none;
}
#tab3 .liquid .btn {
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
}
#tab4 {
	padding: 20px 0 0;
	display: none;
}
#tab4 .liquid .btn {
	width: auto;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
}
#inner nav .news {
	background: #6ae131;
}
.liquid span {
	font-size:80%;
}