@charset "utf-8";

/*===============================================*
*	print
*===============================================*/
@media print{

/* for All Browser
------------------------------------------------*/
body{
font-size:10pt;
background:none;
}
img{
border:none;
}
#wrapper{
width: auto;
}


/* for IE
------------------------------------------------*/
body{
_zoom:82%;
}



}
