@charset "utf-8";

/*===============================================*
*	reset
*===============================================*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
:focus {
outline: 1;
}
nav ul {
	list-style:none;
}
blockquote, q {
quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}
table {
border-collapse:collapse;
border-spacing:0;
}
fieldset, img {
border: 0;
}
address, caption, cite, code, dfn, th, var{
font-style:normal;
font-weight:normal;
font-size: 100%;
}
ul {
list-style:none;
}
caption, th {
text-align:left;
font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {
font-weight:normal;
}
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
display:block;
}
del {
text-decoration: line-through;
}
mark {
background-color:#FFF;
color:#000; 
font-style:italic;
font-weight:bold;
}
ins {
background-color:#FFF;
color:#000;
text-decoration:none;
}
abbr[title], dfn[title] {
border-bottom:1px dotted #000;
cursor:help;
}
hr {
display:block;
height:1px;
border:0;   
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}
input, select {
vertical-align:middle;
}
abbr {
cursor: help;
}
a {
	margin:0;
	padding:0;
	font-size: 120%;
	border:0;
	vertical-align:baseline;
	background:transparent;
	color:#3a54a0;
    text-decoration: underline;
}
a:hover,
a:active {
    color:#868686;
    text-decoration:none;

}
a:link,
a:visited{
}


/*- fluid images and objects ----------*/
img,
object,
embed {max-width: 100%;}
/*- optional vanity styles ----------*/
::selection {background: #37BEFF;}
::-moz-selection {background: #37BEFF;}

img::selection {background: transparent;}
img::-moz-selection {background: transparent;}

@media only screen and (max-device-width: 480px) {
html {-webkit-text-size-adjust: none}
a {-webkit-tap-highlight-color: rgba(0,0,0,0.2);}
}

body {
	font:13px/1.6 'メイリオ',Meiryo,'ＭＳ Ｐゴシック',Verdana,arial,helvetica,clean,sans-serif;
	/* for IE6/7 */ 
	*font-size:small; 
	/* for IE Quirks Mode */
	*font:x-small; 
}
select,
input,
textarea,
button {
	font:99% 'メイリオ',Meiryo,'ＭＳ Ｐゴシック',Verdana,arial,helvetica,clean,sans-serif;
}
table {
	font-size:inherit;
	font:100%;
}
pre,
code,
kbd,
samp,
tt {
	font-family:monospace;
	*font-size:108%;
	line-height:100%;
}
sup,
sub{
    font-size: 75%;
}


/*===============================================*
*	Global Styles
*===============================================*/
/* clear & clearfix
------------------------------------------------*/
.clear{
	clear: both;
}
.clearfix:after {
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	content: ".";
	overflow:hidden;
}
.clearfix {
	zoom: 1;
}



/* margin
------------------------------------------------*/
.mReset{margin:0px !important;}
.mCenter{margin:0 auto; !important;}
.mt0{margin-top:0px !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}
.mt70{margin-top:70px !important;}
.mt80{margin-top:80px !important;}
.mt90{margin-top:90px !important;}
.mt100{margin-top:100px !important;}
.mr0{margin-right:0px !important;}
.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr15{margin-right:15px !important;}
.mr20{margin-right:20px !important;}
.mr25{margin-right:25px !important;}
.mr30{margin-right:30px !important;}
.mr40{margin-right:40px !important;}
.mr50{margin-right:50px !important;}
.mr60{margin-right:60px !important;}
.mr70{margin-right:70px !important;}
.mr80{margin-right:80px !important;}
.mr90{margin-right:90px !important;}
.mr100{margin-right:100px !important;}
.mb0{margin-bottom:0px !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px !important;}
.mb30{margin-bottom:30px !important;}
.mb40{margin-bottom:40px !important;}
.mb50{margin-bottom:50px !important;}
.mb60{margin-bottom:60px !important;}
.mb70{margin-bottom:70px !important;}
.mb80{margin-bottom:80px !important;}
.mb90{margin-bottom:90px !important;}
.mb100{margin-bottom:100px !important;}
.ml0{margin-left:0px !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml25{margin-left:25px !important;}
.ml30{margin-left:30px !important;}
.ml40{margin-left:40px !important;}
.ml50{margin-left:50px !important;}
.ml60{margin-left:60px !important;}
.ml70{margin-left:70px !important;}
.ml80{margin-left:80px !important;}
.ml90{margin-left:90px !important;}
.ml100{margin-left:100px !important;}

@media screen and ( max-width : 450px ) {
    .mt0sp{margin-top:0px !important;}
    .mt5sp{margin-top:5px !important;}
    .mt10sp{margin-top:10px !important;}
    .mt15sp{margin-top:15px !important;}
    .mt20sp{margin-top:20px !important;}
    .mt25sp{margin-top:25px !important;}
    .mt30sp{margin-top:30px !important;}
    .mt40sp{margin-top:40px !important;}
    .mt50sp{margin-top:50px !important;}
    .mt60sp{margin-top:60px !important;}
    .mt70sp{margin-top:70px !important;}
    .mt80sp{margin-top:80px !important;}
    .mt90sp{margin-top:90px !important;}
    .mt100sp{margin-top:100px !important;}
    .mr0sp{margin-right:0px !important;}
    .mr5sp{margin-right:5px !important;}
    .mr10sp{margin-right:10px !important;}
    .mr15sp{margin-right:15px !important;}
    .mr20sp{margin-right:20px !important;}
    .mr25sp{margin-right:25px !important;}
    .mr30sp{margin-right:30px !important;}
    .mr40sp{margin-right:40px !important;}
    .mr50sp{margin-right:50px !important;}
    .mr60sp{margin-right:60px !important;}
    .mr70sp{margin-right:70px !important;}
    .mr80sp{margin-right:80px !important;}
    .mr90sp{margin-right:90px !important;}
    .mr100sp{margin-right:100px !important;}
    .mb0sp{margin-bottom:0px !important;}
    .mb5sp{margin-bottom:5px !important;}
    .mb10sp{margin-bottom:10px !important;}
    .mb15sp{margin-bottom:15px !important;}
    .mb20sp{margin-bottom:20px !important;}
    .mb25sp{margin-bottom:25px !important;}
    .mb30sp{margin-bottom:30px !important;}
    .mb40sp{margin-bottom:40px !important;}
    .mb50sp{margin-bottom:50px !important;}
    .mb60sp{margin-bottom:60px !important;}
    .mb70sp{margin-bottom:70px !important;}
    .mb80sp{margin-bottom:80px !important;}
    .mb90sp{margin-bottom:90px !important;}
    .mb100sp{margin-bottom:100px !important;}
    .ml0sp{margin-left:0px !important;}
    .ml5sp{margin-left:5px !important;}
    .ml10sp{margin-left:10px !important;}
    .ml15sp{margin-left:15px !important;}
    .ml20sp{margin-left:20px !important;}
    .ml25sp{margin-left:25px !important;}
    .ml30sp{margin-left:30px !important;}
    .ml40sp{margin-left:40px !important;}
    .ml50sp{margin-left:50px !important;}
    .ml60sp{margin-left:60px !important;}
    .ml70sp{margin-left:70px !important;}
    .ml80sp{margin-left:80px !important;}
    .ml90sp{margin-left:90px !important;}
    .ml100sp{margin-left:100px !important;}
}



/* padding
------------------------------------------------*/
.pReset{padding:0px !important;}
.pt0{padding-top:0px !important;}
.pt5{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pt25{padding-top:25px !important;}
.pt30{padding-top:30px !important;}
.pt40{padding-top:40px !important;}
.pt50{padding-top:50px !important;}
.pt60{padding-top:60px !important;}
.pt70{padding-top:70px !important;}
.pt80{padding-top:80px !important;}
.pt90{padding-top:90px !important;}
.pt100{padding-top:100px !important;}
.pr0{padding-right:0px !important;}
.pr5{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr20{padding-right:20px !important;}
.pr25{padding-right:25px !important;}
.pr30{padding-right:30px !important;}
.pr40{padding-right:40px !important;}
.pr50{padding-right:50px !important;}
.pr60{padding-right:60px !important;}
.pr70{padding-right:70px !important;}
.pr80{padding-right:80px !important;}
.pr90{padding-right:90px !important;}
.pr100{padding-right:100px !important;}
.pb0{padding-bottom:0px !important;}
.pb5{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:20px !important;}
.pb25{padding-bottom:25px !important;}
.pb30{padding-bottom:30px !important;}
.pb40{padding-bottom:40px !important;}
.pb50{padding-bottom:50px !important;}
.pb60{padding-bottom:60px !important;}
.pb70{padding-bottom:70px !important;}
.pb80{padding-bottom:80px !important;}
.pb90{padding-bottom:90px !important;}
.pb100{padding-bottom:100px !important;}
.pl0{padding-left:0px !important;}
.pl5{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pl25{padding-left:25px !important;}
.pl30{padding-left:30px !important;}
.pl40{padding-left:40px !important;}
.pl50{padding-left:50px !important;}
.pl60{padding-left:60px !important;}
.pl70{padding-left:70px !important;}
.pl80{padding-left:80px !important;}
.pl90{padding-left:90px !important;}
.pl100{padding-left:100px !important;}

/* text-align
------------------------------------------------*/
.alignL{text-align:left !important;}
.alignR{text-align:right !important;}
.alignC{text-align:center !important;}

/* font-weight
------------------------------------------------*/
.fwB{font-weight:bold !important;}
.fwN{font-weight: normal !important;}

/* float
------------------------------------------------*/
.floatL{float:left !important; display:inline !important;}
.floatR{float:right !important; display:inline !important;}
.floatN{float:none !important;}

/* display
------------------------------------------------*/
.disBlock{display:block !important;}
.disInlBlock{display:inline-block !important;}
.disInline{display:inline !important;}

/* indent
------------------------------------------------*/
.indent1{
	text-indent:-1em;
	padding-left:1em;
}
