@charset "shift_jis";


/* common
------------------------------------------------------------------------------*/
body{
	font-size:14px;
	font-family:"ヒラギノ角ゴ Pro W3","メイリオ", "ＭＳ Ｐゴシック" , "Hiragino Kaku Gothic Pro","Meiryo","Osaka", "MS PGothic","sans-serif";
	line-height:1.6em;
	margin:20px auto;
	padding:0.5em;
	width:96%;
}

h1,h2,h3{
	font-size:14px 1.4rem;
	line-height:1.6em;
}

h1{
	font-size:18px 1.8rem;
	padding:5px;
	border-bottom: solid 1px;
}
h2{
	padding:0;
	margin:1.5em 0 0 0;
}
h3{
	padding:0;
	margin:1em 0 0 0;
}

ul{
	list-style: none;
}

p {
	margin: 0.5em 0}
	

.fusoku {
	margin-top:3em;
	margin-bottom:5em;
}

table{
	width:auto;
	border-collapse: collapse;
}

th{
	font-size:14px;
	background-color: #eee;
	padding: 6px;
	border: 1px solid #b9b9b9;
}

td{
	font-size:14px;
	padding: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}

td.center{text-align:center;}

.list li {list-style: outside disc;}

.ls_circle li{
	list-style: circle;
}


/* 余白調整
------------------------------------------------------------------------------*/
.m-10 { margin: 10px }
.mb-05 { margin-bottom: 5px }
.mb-10 { margin-bottom: 10px }
.mb-20 { margin-bottom: 20px }
.mb-35 { margin-bottom: 35px }
.mb-50 { margin-bottom: 50px }
.noml { margin-left: 0 }
.ml-05 { margin-left: 5px }
.ml-10 { margin-left: 10px }
.ml-15 { margin-left: 15px }
.ml-20 { margin-left: 20px }
.ml-25 { margin-left: 25px }
.ml-35 { margin-left: 35px }
.ml-40 { margin-left: 40px }
.ml-50 { margin-left: 50px }
.ml-60 { margin-left: 60px }
.ml-70 { margin-left: 70px }
.ml-80 { margin-left: 80px }
.ml-85 { margin-left: 85px }
.ml-90 { margin-left: 90px }
.ml-100 { margin-left: 100px }
.ml-110 { margin-left: 110px }
.ml-120 { margin-left: 120px }
.ml-125 { margin-left: 125px }
.ml-130 { margin-left: 130px }
.nomt { margin-top: 0 }
.mt-05 { margin-top: 5px }
.mt-10 { margin-top: 10px }
.mt-10 { margin-top: 10px }
.mt-20 { margin-top: 20px }
.mt-35 { margin-top: 35px }
.mt-45 { margin-top: 45px }
.mt-50 { margin-top: 50px }
.nopl { padding-left: 0 }
.p-10 { padding: 10px }
.pl-15 { padding-left: 15px }
.pl-25 { padding-left: 25px }

@media(max-width:720px){
	img {width:100%;}
	
	th {padding: 4px;}
	
	.ret_smp:before {
		content: "\A" ;
		white-space: pre ;
	}
}
