@charset "shift_jis";
/* CSS Document */

#index .box-wrap {
	margin-bottom:35px;
}
#index .box-wrap .box-ttl {
	background-image: url(/nec102/images/bg_info.gif), url(/nec102/images/bg_info2.gif);
	background-repeat: no-repeat, repeat-x;
	background-position: left bottom, left bottom;
	padding:0 0 10px 0;
}
#index .box-wrap .box-ttl .all-link {
	float:right;
	margin-top:12px;
}
#index .box-wrap .box-ttl .all-link a {
	background:url(/nec102/images/icon_arrow02.jpg) no-repeat left center;
	padding:2px 0 2px 16px;
	font-size:14px;
	font-weight:bold;
	line-height: 1.2;
	text-shadow: 0 0 1px #ccc;
	color:#444;
	text-decoration:none;
}
#index .box-wrap .box-ttl h2 {
	padding:7px 0 7px 45px;
	font-size:21px;
	font-weight:bold;
	line-height: 1;
}

/*about*/
#index .box-wrap.about .box-ttl h2 {
	background:url(/nec102/images/icon_about102.jpg) no-repeat left top;
}
#index .box-wrap.about .text {
	margin-top:12px;
	line-height:1.4;
}

/*support*/
#index .box-wrap.support .box-ttl h2 {
	background:url(/nec102/images/icon_support.jpg) no-repeat left top;
	float:left;
	width:270px;
}
#index .box-wrap.support dl {
	padding:10px 0;
	border-bottom:dotted 1px #0082CE;
	line-height: 1.3em;
	text-shadow: 0 0 1px #ccc;
}

#index .box-wrap.support dl a {
	text-decoration:none;
	font-size:14px;
	display:block;
}
#index .box-wrap.support dt {
	font-size:16px;
	margin-bottom:4px;
	font-weight:bold;	
}
#index .box-wrap.support dd {
	padding:0 10px 0;
	margin-bottom:4px;
}

/*==20130304 support ul li p a*/
#index .box-wrap.support p {
	font-size: 16px;
	font-weight:bold;
	padding:0;
}
#index .box-wrap.support p a {
	font-size: 16px;
	font-weight:bold;
}
/*==20130304 support ul li a */
#index .box-wrap.support ul {
	padding:5px;
}
#index .box-wrap.support li {
	font-size: 14px;
	line-height: 1.2em;
	margin-left: 1em;
	text-indent: -0.8em;
	text-shadow: 0 0 1px #CCC;
	font-weight:normal;
}
#index .box-wrap.support li a {
	font-size: 14px;
}
/*==20130304 support ul li p a*/


/*guide*/
#index .box-wrap.guide .box-ttl h2 {
	background:url(/nec102/images/icon_guide.jpg) no-repeat left top;
}
#index .box-wrap.guide .text {
	margin-top:12px;
	line-height:1.4;
}
#index .box-wrap.guide .pdf-area {
	background:#E5F2FA;
	padding:0 10px;
	margin-top:6px;
}
#index .box-wrap.guide .pdf-area dl {
	padding:12px 0;
	border-bottom:dotted 1px #0082CE;
}
#index .box-wrap.guide .pdf-area dl.nob {
	border-bottom:0;
}
#index .box-wrap.guide .pdf-area dl dt {
	float:left;
	width:26px;
	margin-right:10px;
}
#index .box-wrap.guide .pdf-area dl dd {
	float:left;
	width:402px;
}
#index .box-wrap.guide .pdf-area dl dd a {
	color:#444;
	text-decoration:none;
	display:block;
}
#index .box-wrap.guide .pdf-area dl dd span {
	color:#CC0000;
}


/*faq*/
#index .box-wrap.faq .box-ttl h2 {
	background:url(/nec102/images/icon_faq.jpg) no-repeat left top;
	float:left;
	width:220px;
}
#index .box-wrap.faq .text {
	margin-top:12px;
	line-height:1.4;
}
#index .box-wrap.faq ul {
	margin:6px 0 0;
	border-top:solid 1px #BDBDBD;
	border-left:solid 1px #BDBDBD;
	border-right:solid 1px #BDBDBD;
}
#index .box-wrap.faq ul li {
	border-bottom:solid 1px #BDBDBD;
	padding:0 10px;
	font-size: 16px;
	line-height: 1.1;
	text-shadow: 0 0 1px #CCC;
	font-weight:bold;
}
#index .box-wrap.faq ul li a {
	display:block;
	padding:15px 0 15px 28px;
	color:#444;
	text-decoration:none;
	background:url(/nec102/images/icon_arrow01.jpg) no-repeat left center;
}

/*link*/
#index .box-wrap.link .box-ttl h2 {
	background:url(/nec102/images/icon_link.jpg) no-repeat left top;
}
#index .box-wrap.link .text {
	margin-top:12px;
	line-height:1.4;
}
#index .box-wrap.link ul {
	margin:6px 0 0;
	border-top:solid 1px #BDBDBD;
	border-left:solid 1px #BDBDBD;
	border-right:solid 1px #BDBDBD;
}
#index .box-wrap.link ul li {
	border-bottom:solid 1px #BDBDBD;
	padding:0 10px;
	font-size: 16px;
	line-height: 1.1;
	text-shadow: 0 0 1px #CCC;
	font-weight:bold;
}
#index .box-wrap.link ul li a {
	display:block;
	padding:15px 0 15px 28px;
	color:#444;
	text-decoration:none;
	background:url(/nec102/images/icon_arrow01.jpg) no-repeat left center;
}

/*link*/
#index .box-wrap.survice {
	margin-bottom:0;
}
#index .box-wrap.survice .box-ttl h2 {
	background:url(/nec102/images/icon_survice.jpg) no-repeat left top;
}
#index .box-wrap.survice .text {
	margin-top:12px;
	line-height:1.4;
}
#index .box-wrap.survice ul {
	margin:6px 0 0;
	border-bottom:dotted 1px #0082CE;
}
#index .box-wrap.survice ul li {
	border-top:dotted 1px #0082CE;
	line-height: 1.1;
	text-shadow: 0 0 1px #CCC;
	font-weight:bold;
}
#index .box-wrap.survice ul li a {
	display:block;
	padding:17px 0 12px 0;
	color:#444;
	text-decoration:none;
}
#index .box-wrap.survice ul li img {
	vertical-align:middle;
	padding-right:8px;
}

#index .box-wrap.survice ul li dl dd img.mini_img{
	padding:10px 0;
}

#index .box-wrap.survice .link-area dl dt {
	float:left;
	width:72px;
	margin-right:10px;
}
#index .box-wrap.survice .link-area dl dd {
	float:left;
	width:356px;
}