@charset "utf-8";

@media screen and (min-width: 768px) {
    .loading{
        position: absolute; bottom:20%; right: 5%;
    }
    .loading img{
        width: 100%;
        min-width: 100px;
        max-width: 200px;
    }
}

@media screen and (max-width: 767px) {
    .loading{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .loading img {
	    width: 100%;
	    min-width: 100px;
        max-width: 200px;
    }
}