@charset "utf-8";
/* CSS Document */

/*===================================================

 Font Size Medium CSS

=================================================== */
body .txtxlarge {
	font-size: 16px!important;
	line-height: 160%!important;
}

body .txtlarge {
	font-size: 14px!important;
	line-height: 160%!important;
}

body .txtnormal,
body .caption03 {
	font-size: 12px!important;
	line-height: 160%!important;
}

body .txtsmall{
	font-size:11px !important;
	line-height: 140%!important;
}

body .caption01,
body .caption02 {
	font-size: 11px!important;
}

#campaign #price_simulation .caption01 {
	font-size: 11px!important;
    padding-left: 1.5em!important;
    text-indent: -1.5em!important;
}


/* tab-layout
------------------------------------ */
#main_tel dl #main_faq{
	font-size:13px;
}

/* layout-contents
------------------------------------ */
h2 {
	font-size:20px !important;
}
h3{
	font-size:16px !important;
}
h4{
	font-size:14px !important;
}
sup{
	font-size:11px !important;
}


/* table
------------------------------------ */
body #layout-contents table {
	font-size: 12px!important;
	line-height:140%;
}


/* overlay
------------------------------------ */
.overray .title {
	font-size: 14px!important;
	line-height: 140%!important;
}


/* strong
------------------------------------ */
span.strong {
	font-size: 16px!important;
	line-height: 160%!Important;
}


/* font-weight
------------------------------------ */
.bold { font-weight: bold;}


/* tel
------------------------------------ */
#tel_wrapper li {
	font-size: 12px!important;
}
