@charset "utf-8";
/* CSS Document */

/* ===================================================

 Font Size Large CSS

================================================== */
body .txtxlarge {
	font-size: 22px!important;
	line-height: 160%!important;
}
body .txtlarge {
	font-size: 18px!important;
	line-height: 160%!important;
}

body .txtnormal,
body .caption03,
body .caption04 {
	font-size: 16px!important;
	line-height: 160%!important;
}

body .caption01,
body .caption02 {
	font-size: 14px!important;
	line-height: 150%!important;
	text-indent: -1.5em!important;
	padding-left: 22px!important;
}

body .txtsmall{
	font-size:12px !important;
	line-height: 140%!important;
}

/* tab-layout
------------------------------------ */
#main_tel dl #main_faq{
	font-size:15px;
}

/* layout-contents
------------------------------------ */
h2 {
	font-size:24px !important;
}
h3{
	font-size:20px !important;
}
h4{
	font-size:17px !important;
}
sup{
	font-size:13px !important;
}


/* table
------------------------------------ */
body #layout-contents table {
	font-size: 16px!important;
	line-height:150%;
}


/* join_area
------------------------------------ */
.join_area span.strong {
	font-size: 16px!important;
}


/* overlay
------------------------------------ */
.overray .title {
	font-size: 18px!important;
	line-height: 140%!important;
}


/* strong
------------------------------------ */
span.strong {
	font-size: 20px!important;
	line-height: 160%!important;
}

/* font-weight
------------------------------------ */
.bold { font-weight: bold;}


/* tel
------------------------------------ */
#tel_wrapper li {
	font-size: 16px!important;
}

/* sup
------------------------------------ */
sup {
	font-size: 14px!important;
}


/* price_simulation
------------------------------------ */
#price_simulation .large {
	font-size: 21px!important;
}

#price_simulation .caption01 {
	font-size: 12px!important;
}

#campaign #price_simulation .caption01 {
	font-size: 11px!important;
    padding-left: 1.5em!important;
    text-indent: -1.5em!important;
}

#simulation #price_simulation .caption01 {
	font-size: 11px!important;
    padding-left: 1.5em!important;
    text-indent: -1.5em!important;
}


/* rmキャン */
#simulation_rm #price_simulation .large {
	font-size: 21px!important;
}

#simulation_rm #price_simulation .caption01 {
	font-size: 11px!important;
    padding-left: 1.5em!important;
    text-indent: -1.5em!important;
	line-height: 1.6!important;
}

