.a_appbtn_headline{
    background-color: #e3654d;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

.a_appbtn_catch{
    font-weight: normal;
    font-size: 1rem;
}

.a_nat64dns64_headline{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
}

.a_nat64dns64_panel{
    display: flex;
}

.box-text{
    display: flex;
    align-items: center;
}

.inner-text-gray{
    color: #fff;
    background-color: #3a3a3a;
    padding: 5px 0px;
    border-radius: 15px;
}

.inner-text-red{
    color: #fff;
    background-color: #e3654d;
    padding: 5px 0px;
    border-radius: 15px;
}

@media screen and (max-width: 640px){
    .box-img{
        width: 100%;
        max-width: 50px;
    }
    
    .a_nat64dns64_headline{
        margin-left: 5px;
    }
}