@charset "utf-8";
/* CSS Document */

/*--------------------
/ 		common		 /
-------------------*/
html{ font-size: 62.5%;}
body{ font-size: 14px; font-size: 1.4rem; color: #333333; font-family: "ＭＳ Ｐゴシック","MS PGothic",sans-serif;}
p,li{ font-size: 14px; font-size: 1.4rem; line-height: 22px;}
sup { font-size: 11px !important; font-size: 1.1rem !important; vertical-align: top;}
input{ vertical-align:baseline;}
a { color: #3a54a0;}
a:hover, a:active { outline: 0 none;}
a.link { padding: 0 0 0 15px;}
.ie7 a.link{position: relative; overflow: hidden; padding-top: 2px; padding-bottom: 2px;}
#contents { font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;}
#contents a { color: #0088cc; text-decoration: none;}
#contents a:hover { color: red;}
.ToPagetop{font-size:13px; font-size:1.3rem;}
.clearfix{min-height:1px;}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden; zoom:1;}
* html .clearfix{ height:1%; overflow:visible;}
/*-- pankuzu --*/
#suHeader .sprite,
#suTopArea .sprite,
#suMain .sprite,
#suLNavi .sprite{ background-position:0 0; background-repeat:no-repeat;}
#suHeader .sprite,
#suTopArea .sprite,
#suLNavi .sprite{ background-image:url("https://support.biglobe.ne.jp/su_img/common/sprite.png");}
#suTopArea #suPath{ text-align:left; line-height:14px; padding: 8px 0; font-size:11px; font-size:1.1rem;}




@media screen and (max-width: 720px) {/* sp only */
/*--------------------
/ 		common		 /
-------------------*/
#page { width: auto;}
body, p, li{ line-height:140%;}
a.link{ padding-top: 2px; padding-bottom: 2px;}
.page_ttl { padding: 20px 0; line-height:140%;}
.ToPagetop{ width: 96%; margin: 30px auto 0;}
/*-- header --*/
#inner{
	display:block;
	padding:10px;
	background: #fefefe; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmVmZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZmVmZWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fefefe 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fefefe 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fefefe 0%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fefefe 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fefefe 0%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#efefef',GradientType=0 ); /* IE6-8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#fefefe, endcolorstr=#efefef))";
	_background:#fefefe !important;
}
#inner h1{ float:left;}
#inner aside{
	float:right;
	border:1px solid #cdcdcd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #ffffff; /* Old browsers */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 50%, #eeeeee 51%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(51%,#eeeeee), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#eeeeee 51%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#eeeeee 51%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 50%,#eeeeee 51%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 50%,#eeeeee 51%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.gradient(GradientType=0,startcolorstr=#ffffff, endcolorstr=#eeeeee))";
	_background:#ffffff !important;
	padding:5px;
}
#inner aside a{ font-weight:bold; text-decoration:none; color:#333; font-size:11px; font-size:1.1rem;}
#inner aside.sitemap img{ margin-right:5px; vertical-align: baseline;}
#inner aside a:hover{ color:red;}
/*-- pankuzu --*/
#suHeader { display:none;}
#suTopArea { width: 96%; margin: 0 auto;}
/*-- footer --*/
#suFooter { display:none;}
footer { display:block; margin-top:15px;}
footer .footer-inner{ text-align:center; border-top:1px solid #c7c7c7; padding:10px; background-color:#eee;}
footer .flink,
footer .flink a{ font-size:12px; font-size:1.2rem;}
footer .copyright{ font-size:12px; font-size:1.2rem; padding:5px; display:block;}


}

@media screen and (min-width: 721px) {/* pc only */
/*--------------------
/ 		common		 /
-------------------*/
#page{ width: 860px; margin: 0 auto;}
.ie7 #page{ position: relative;}
/*-- header --*/
#inner{ display:none; font-size:12px; font-size:1.2rem; line-height: 22px;}
/*-- pankuzu --*/
#suHeader { width:860px; font-size:12px; font-size:1.2rem; line-height: 22px;}
#headNavi { width:860px; height:68px; border-bottom:2px solid #78BC35;}
#suHLogo { float:left; width:257px; padding:19px 0 18px 11px;}
#suHLogo a { display:block; height:31px;}
#suBiglobeLogo { float:left; width:146px;}
#suBiglobeLogo .sprite { width:146px; height:31px;}
#suSupportLogo {float:left; width:111px;}
#suSupportLogo .sprite {width:111px; height:31px; background-position:-146px 0;}
#suHNavi { float:right; width:40%;}
#suHNavi .btnMySupport,
#suHNavi .btnMySupport a .sprite { width:291px; height:29px;}
#suHNavi .btnMySupport { margin-left:auto; margin-bottom:9px;}
#suHNavi .btnMySupport a .sprite { background-position:-120px -170px;}
#suHNavi .btnMySupport a:hover .sprite { background-position:-120px -199px;}
#suHNavi .linkSiteMap { text-align: right;}
#suHNavi .linkSiteMap .sprite { position:relative; width:14px; height:14px; margin:1px 5px 0 0; background-image:url("https://support.biglobe.ne.jp/su_img/common/sprite_icon.png"); vertical-align: middle;}
#kaniTop{ margin-top: 44px; font-size: 12px; font-size: 1.2rem;}
/* 新ロゴ 2017/09 */
#header-logo {
	width:350px;
	margin:0;
	padding:19px 0 18px 11px;
	float:left;
	text-align:left;
}
/* ---------------------------------------------------------------------------*/


/*-- footer --*/
#suFooter { width:860px; margin-top:60px; border-top:solid 1px #D4D4D4; padding:10px 0 0 0;}
#suFooter .linkArea { float:right; line-height:1.6; padding:15px 10px 0 10px; text-align:center; min-width:590px; font-size:12px; font-size:1.2rem;}
#suFooter .iconArea { float:right; width:120px; height:66px; margin-right:15px;}
#suFooter .iconArea p { float:left;}
#suFooter .iconArea .iconPMark { width:61px; height:66px;}
#suFooter .iconArea .iconIsp { width:48px; height:66px; padding-left:7px;}
#suFooter .iconArea .iconPMark .sprite { width:61px; height:66px; background-position:-231px -454px;}
#suFooter .iconArea .iconIsp .sprite { width:48px; height:66px; background-position:-299px -454px;}
#suFooter .copyright { padding:10px 0; text-align:center; font-size:13px; font-size:1.3rem;}
#suFooter.smallFooter {	width:100%;}
#suFooter.smallFooter .icons { width:220px; float:right;}
#suFooter.smallFooter .copyright { width:250px; float:left; text-align:right; padding:20px 0 0 110px;}
#suFooter .sprite { background-position:0 0; background-repeat:no-repeat; background-image:url("https://support.biglobe.ne.jp/su_img/common/sprite.png");}

}


/* clearfix
------------------------------------------------------------------------------*/
#suMiniEnquete #suMiniEnqueteQuestion:after {
content:"";
display:block;
clear:both;
height:0;
visibility:hidden;
}
/* clearfix ie7
------------------------------------------------------------------------------*/
*:first-child+html #suMiniEnquete #suMiniEnqueteQuestion {
zoom:1;
}
/* clearfix ie6
------------------------------------------------------------------------------*/
* html #suMiniEnquete #suMiniEnqueteQuestion {
zoom:1;
}
/* suMiniEnquete
------------------------------------------------------------------------------*/
#suMiniEnquete {
	width: 653px;
	margin: 25px auto 0;
	border: solid 1px #B3D5B0;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

#suMiniEnquete h2.cntTitle {
font-size:14px !important;
line-height:28px;
height:28px;
padding:0 0 0 11px;
border:none;
background-image:url(../../../../su_img/common/enq_title_bg.jpg);
background-repeat:repeat-x;
background-position:left top;
}

#suMiniEnquete #suMiniEnqueteQuestion {
width:642px;
padding:9px 0 28px 11px;
background-color:#F3F3F3;
}
#suMiniEnquete #suMiniEnqueteQuestion .text {
padding:4px 0 18px;
}
#suMiniEnquete #suMiniEnqueteQuestion .btn {
cursor:pointer;
float:left;
width:185px;
padding-right:15px;
}
#suMiniEnquete #suMiniEnqueteQuestion .btn#btn01 {
padding-left:24px;
}

#suMiniEnquete #suMiniEnqueteThanks {
display:none;
width:653px;
padding:15px 0 13px;
background-color:#F3F3F3;
text-align:center;
}

#suMiniEnquete #suMiniEnqueteQuestion02 {
display:none;
width:642px;
padding:9px 0 10px 11px;
background-color:#F3F3F3;
}
#suMiniEnquete #suMiniEnqueteQuestion02 .check {
padding:15px 0 0 18px;
}
#suMiniEnquete #suMiniEnqueteQuestion02 .check li {
padding:0 0 7px 0;
}
#suMiniEnquete #suMiniEnqueteQuestion02 .check label {
margin:0 0 0 5px;
}
#suMiniEnquete #suMiniEnqueteQuestion02 .check textarea {
width:570px;
height:35px;
margin:2px 0 0 27px;
ime-mode:active;
font-size: 100%;
font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
#suMiniEnquete #suMiniEnqueteQuestion02 .check .notice {
padding:5px 0 0 27px;
line-height:1.2;
color:#E90E0E;
}
#suMiniEnquete #suMiniEnqueteQuestion02 .btn {
cursor:pointer;
width:185px;
margin:0 auto;
margin-top: 10px;
}
#suMiniEnquete #suMiniEnqueteQuestion02 .link {
padding:7px 0 0;
text-align:center;
}
#suMiniEnquete #suMiniEnqueteQuestion02 .link .cmn_icon {
background-position:-169px 0;
}

@media screen and (max-width: 720px) {
/* !suMiniEnquete overwright
---------------------------------------------------------- */
#suMiniEnquete {
width: 96%; /*　94% 1/30 変更 */
clear: both;
}
#suMiniEnquete #suMiniEnqueteQuestion {width: auto;padding:9px 11px 28px;}
#suMiniEnquete #suMiniEnqueteThanks {width: auto; padding:15px 11px 13px;}
#suMiniEnquete #suMiniEnqueteQuestion02 {width: auto; padding:9px 11px 10px;}
#suMiniEnquete #suMiniEnqueteQuestion .btn {
width: 30%;
padding: 0;
margin-right: 3%
}
#suMiniEnquete #suMiniEnqueteQuestion .btn#btn01 {
padding: 0;
margin-left: 1%;
}
#suMiniEnquete #suMiniEnqueteQuestion .btn#btn03 {
margin-right: 0;
}
#suMiniEnquete #suMiniEnqueteQuestion .btn img {
width: 100%;
max-width: 185px;
height: auto;
max-height: 83px;
}
#suMiniEnquete #suMiniEnqueteQuestion02 .check textarea {
width: 85%;
}
#suMiniEnquete #suMiniEnqueteQuestion02 .btn {
width: 50%;
}
#suMiniEnquete #suMiniEnqueteQuestion02 .btn img {
width: 100%;
max-width: 185px;
height: auto;
max-height: 63px;
}
#suMiniEnquete #suMiniEnqueteThanks img {
width: 100%;
max-width: 576px;
height: auto;
max-height: 71px;
}
}

/* Contents Style */

.smallMargin {
	margin-bottom: 10px !important;
}
.middleMargin {
	margin-bottom: 15px !important;
}
.normalMargin {
	margin-bottom: 20px !important;
}
.largeMargin {
	margin-bottom: 30px !important;
}
.x-largeMargin {
	margin-bottom: 40px !important;
}
.xx-largeMargin {
	margin-bottom: 50px !important;
}
.textSmall {
	font-size: 85%;
}
.textCaution {
	padding-left: 1em;
	text-indent: -1em;
}

#routerLP {
	padding-top: 20px;
	color: #000;
}
#routerLP a {
	color: #408e69 !important;
}
#contents #routerLP a { text-decoration: underline;}
#contents #routerLP a:hover { text-decoration: none;}
.h1Wrapper {
	background: #1a1a1a url(../images/top_photo_pc.jpg) no-repeat right top;
	min-height: 180px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	margin-bottom: 20px;
}
.h1Wrapper .text {
	padding-left: 37px;
	padding-top: 27px;
	color: #fff;
}
.h1Wrapper .text h1 {
	font-size: 200% !important;
	line-height: 1.4em;
	font-weight: normal;
}
.h1Wrapper .text hr {
	display: block;
	border: none;
	margin-left: 0;
	margin-right: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: left;
	width: 25px;
	height: 3px;
	background: #78bc35;
}
.h1Wrapper .text p {
	font-size: 105% !important;
}

#routerLP h2 {
	font-size: 160% !important;
	line-height: 1.2em;
	font-weight: normal;
	margin-bottom: 15px;
}
#routerLP h2.border {
	border-bottom: solid 1px #006837;
}
#routerLP h2.bg {
	background: url(../images/h2_bg.png) repeat left top;
	padding: 6px;
}
#routerLP h2 .inner {
	display: block;
	padding-left: 52px;
	position: relative;
}
#routerLP h2 .merit {
	background: url(../images/icon_merit_pc.png) no-repeat 4px top;
	min-height: 30px;
	padding-top: 6px;
	padding-bottom: 2px;
}
#routerLP h2 .setting {
	background: url(../images/icon_setting_pc.png) no-repeat 4px top;
	min-height: 30px;
	padding-top: 6px;
	padding-bottom: 2px;
}
#routerLP h2 .support {
	background: url(../images/icon_support_pc.png) no-repeat 4px top;
	min-height: 30px;
	padding-top: 6px;
	padding-bottom: 2px;
}
#routerLP h2.sectionTglBtn .inner .btnToggle {
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	background: url(../images/btn_open_pc.png) no-repeat left top;
	right: 0;
	top: 0;
}
#routerLP h2.sectionTglBtn.open .inner .btnToggle {
	background: url(../images/btn_close_pc.png) no-repeat left top;
}
#routerLP h3 {
	font-size: 120% !important;
	line-height: 1.2em;
	font-weight: bold;
	margin-bottom: 12px;
	border-left: solid 4px #006837;
	padding-left: 12px;
}

.printPage {
	text-align: right;
}
.printPage a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding-right: 43px;
	background: url(../images/icon_print_pc.png) no-repeat right center;
	min-height: 21px;
	font-size: 105%;
	padding-top: 6px;
}
.allChangeBtn {
	text-align: right;
}
.allChangeBtn a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding-right: 30px;
	background: url(../images/icon_open_pc.png) no-repeat right center;
	min-height: 21px;
	font-size: 105%;
	padding-top: 6px;
}
.allChangeBtn.open a {
	background: url(../images/icon_open_pc.png) no-repeat right center;
}
.allChangeBtn.close a {
	background: url(../images/icon_close_pc.png) no-repeat right center;
}

/*.toggleBlock {
	display: none;
}*/
.contentsInner {
	padding: 0 20px;
}

.meritCol .text {
	float: left;
	width: 300px;
}
.meritCol .image {
	float: right;
	width: 500px;
}
.meritCol .text2 {
	float: left;
	width: 500px;
}
.meritCol .image2 {
	float: right;
	width: 300px;
}
.productsInfo {
	box-sizing: border-box;
	border: solid 2px #fff67f;
	background: #fff67f;
	margin-bottom: 35px;
}
.productsInfo .photo {
	float: left;
	background: #fff;
	width: 147px;
	text-align: center;
}
.productsInfo .text {
	float: right;
	width: 615px;
	padding-right: 20px;
	padding-top: 12px;
}

.nextBaloon {
	position: relative;
	color: #fff;
	text-align: center;
	font-size: 120% !important;
	font-weight: bold;
}
#contents #routerLP .nextBaloon a {
	position: relative;
	display: block;
	background: #93c95d;
	border-radius: 7px;
	color: #fff !important;
	padding: 20px;
	text-decoration: none;
}
#routerLP .nextBaloon a:hover {
	color: #fff !important;
}
.nextBaloon a:after {
	content: " ";
	position: absolute;
	left: 50%;
	margin-left: -23px;
	bottom: -15px;
	content: "";
	border: 23px solid transparent;
	border-top: 15px solid #93c95d;
	border-bottom: 0px solid transparent;
}

.numTitle .number {
	display: block;
	float: left;
	width: 25px;
}
.numTitle .text {
	display: block;
	padding-left: 25px;
}
.numContents {
	padding-left: 25px;
}
.tabCol3 {
	border-bottom: solid 2px #006837;
	padding-left: 40px;
	margin-bottom: 20px;
}
.tabCol3 .col {
	float: left;
	width: 244px;
	padding-right: 20px;
}
#contents #routerLP .tabCol3 .col a {
	display: block;
	border: solid 1px #006837;
	border-bottom: none;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
	background: #e4e4e4;
	text-align: center;
	padding: 15px;
	color: #006837 !important;
	font-size: 120%;
	text-decoration: none;
}
#contents #routerLP .tabCol3 .col a.current {
	background: #006837;
	color: #fff !important;
}
.hintBlock {
	background: #f2ede7;
	border-radius: 7px;
	padding: 15px 12px;
}
.hintBlock .icon {
	width: 53px;
	float: left;
	height: 65px;
	position: relative;
}
.hintBlock .icon .image {
	width: 53px;
	position: absolute;
	left: 0;
	top: -19px;
}
.hintBlock .text {
	padding-left: 70px;
}
.hintBlock .hintTitle {
	border-bottom: solid 1px #b5b2ad;
	padding-bottom: 6px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 110%;
}
.hintBlock .text .colLeft {
	float: left;
	width: 340px;
}
.hintBlock .text .colRight {
	float: right;
	width: 340px;
}
.passWordImg { margin-bottom: 15px;
}
.passWordTable { width: 600px;
}
.passWordTable table {
	width: 100%;
	border-top: solid 1px #808080;
	border-left: solid 1px #808080;
	border-collapse: collapse;
	font-size: 100%;
}
.passWordTable table th {
	width: 75px;
	border-bottom: solid 1px #808080;
	border-right: solid 1px #808080;
	padding: 13px 15px;
	text-align: center;
	vertical-align: middle;
	background: #d4e9be;
	font-weight: normal;
}
.passWordTable table td {
	border-bottom: solid 1px #808080;
	border-right: solid 1px #808080;
	padding: 13px 15px;
	text-align: left;
	vertical-align: middle;
}

.networkIcons .col {
	float: left;
	padding-right: 20px;
	width: 130px;
	text-align: center;
}

.supportBorder {
	border: solid 10px #e4f2d7;
	padding: 20px;
}

.spOnly {
	display: none;
}

/* 20170410 add */
#box_notice {
	background-color: #FEFBCF;
	border: 1px #ADADAD solid;
	width: 858px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}
#box_notice section {padding:10px;}


@media screen and (max-width: 720px) {/* sp only */

.pcOnly {
	display: none;
}
.spOnly {
	display: block;
}
.spTextCenter {
	text-align: center;
}
#routerLP {
	padding-top: 10px;
}
#routerLP img {
	max-width: 100%;
	height: auto;
}
.contentsInner {
	padding: 0 10px;
}
.h1Wrapper {
	background: #1a1a1a url(../images/top_photo_sp.jpg) no-repeat right top;
	background-size: auto 100%;
	min-height: 100px;
	border-radius: 0px;
	margin-bottom: 23px;
}
.h1Wrapper .text {
	background: #1a1a1a;
	box-sizing: border-box;
	width: 45%;
	padding: 15px 10px;
}
.h1Wrapper .text h1 {
	font-size: 100% !important;
	line-height: 1.4em;
}
.h1Wrapper .text hr {
	margin-top: 6px;
	margin-bottom: 10px;
	width: 15px;
	height: 2px;
}
.h1Wrapper .text p {
	font-size: 70% !important;
}
#routerLP h2 {
	font-size: 110% !important;
	line-height: 1.2em;
	font-weight: bold;
	margin-bottom: 10px;
}
#routerLP h2.bg {
	background: url(../images/h2_bg.png) repeat left top;
	background-size: 25px 25px;
	padding: 0px;
}
#routerLP h2 .inner {
	display: block;
	padding-left: 37px;
	position: relative;
	line-height: 27px;
}
#routerLP h2 .merit {
	background: url(../images/icon_merit_sp.png) no-repeat 10px center;
	background-size: 20px 20px;
	min-height: 27px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#routerLP h2 .setting {
	background: url(../images/icon_setting_sp.png) no-repeat 10px center;
	background-size: 20px 20px;
	min-height: 27px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#routerLP h2 .support {
	background: url(../images/icon_support_sp.png) no-repeat 4px top;
	background-size: 20px 20px;
	min-height: 27px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#routerLP h2.sectionTglBtn .inner .btnToggle {
	display: block;
	position: absolute;
	width: 27px;
	height: 27px;
	background: url(../images/btn_open_sp.png) no-repeat left top;
	background-size: 27px 27px;
	right: 0;
	top: 0;
}
#routerLP h2.sectionTglBtn.open .inner .btnToggle {
	background: url(../images/btn_close_sp.png) no-repeat left top;
	background-size: 27px 27px;
}
#routerLP h3 {
	font-size: 105% !important;
	margin-bottom: 8px;
	padding-left: 10px;
}
.productsInfo {
	margin-bottom: 20px;
	display: table;
	width: 100%;
	min-height: 0;
}
.productsInfo .photo {
	display: table-cell;
	float: none;
	background: #fff;
	width: 74px;
	text-align: center;
	vertical-align: middle;
}
.productsInfo .text {
	display: table-cell;
	background: #fff67f;
	float: none;
	width: auto;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}
.nextBaloon {
	margin-bottom: 20px;
	font-size: 110% !important;
}
#contents #routerLP .nextBaloon a {
	border-radius: 7px;
	padding: 10px;
}
.nextBaloon a:after {
	content: " ";
	position: absolute;
	left: 50%;
	margin-left: -13px;
	bottom: -7px;
	content: "";
	border: 13px solid transparent;
	border-top: 7px solid #93c95d;
	border-bottom: 0px solid transparent;
}

.meritCol .text ,
.meritCol .image ,
.meritCol .text2 ,
.meritCol .image2 {
	float: none;
	width: auto;
}
.printPage {
	display: none;
}

.allChangeBtn {
	padding-right: 10px;
}
.allChangeBtn a {
	padding-right: 20px;
	min-height: 15px;
	font-size: 100%;
	padding-top: 0;
}
.allChangeBtn.open a {
	background: url(../images/icon_open_sp.png) no-repeat right center;
	background-size: 15px 15px;
}
.allChangeBtn.close a {
	background: url(../images/icon_close_sp.png) no-repeat right center;
	background-size: 15px 15px;
}

.spMapWrapper {
	max-width: 620px;
	display: block;
	margin: 0 auto;
	position: relative;
}
.spMapWrapper img {
	vertical-align: bottom;
}
.spMapWrapper .links {
	display: block;
	position: absolute;
	width: 31.12%;
	height: 24.61%;
	left: 0%;
	top: 75.38%;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}
.spMapWrapper .link01 {
	left: 0%;
}
.spMapWrapper .link02 {
	left: 34.03%;
}
.spMapWrapper .link03 {
	left: 68.54%;
}

.tabCol3 {
	border-bottom: solid 2px #006837;
	padding-left: 10px;
	margin-bottom: 15px;
}
.tabCol3 .col {
	float: left;
	box-sizing: border-box;
	width: 33.3%;
	padding-right: 10px;
}
#contents #routerLP .tabCol3 .col a {
	padding: 8px 5px;
	font-size: 80%;
}
.hintBlock {
	padding: 10px 10px;
}
.hintBlock .icon {
	width: 26px;
	height: 32px;
}
.hintBlock .icon .image {
	width: 26px;
	position: absolute;
	left: 0;
	top: -13px;
}
.hintBlock .text {
	padding-left: 36px;
}
.hintBlock .hintTitle {
	padding-bottom: 4px;
	margin-bottom: 8px;
	font-weight: bold;
	font-size: 100%;
}
.hintBlock .text .colLeft {
	float: none;
	width: auto;
	margin-bottom: 10px;
}
.hintBlock .text .colRight {
	float: none;
	width: auto;
}
.passWordImg {
	float: none;
	width: auto;
	margin-bottom: 10px;
}
.passWordTable {
	float: none;
	width: auto;
}
.passWordTable table th {
	width: 55px;
	padding: 5px 7px;
	font-size: 80%;
}
.passWordTable table td {
	padding: 5px 7px;
	font-size: 80%;
}

.networkIcons .col {
	float: none;
	padding-right: 0;
	width: auto;
	margin-bottom: 5px;
}

/* 20170410 add */
	#box_notice {width:98%; margin-top:20px; margin-bottom: 20px;}
}

@media print {
#routerLP {
	width: 860px;
}
.linkSiteMap {
	display: none;
}
.sitemap {
	display: none;
}
#suTopArea {
	display: none;
}
.printPage {
	display: none;
}
.allChangeBtn {
	display: none;
}
.tabCol3 {
	display: none;
}
#routerLP h2.sectionTglBtn .inner .btnToggle {
	display: none;
}
.tabPage {
	display: block !important;
}

.hintBlock {
	background: #f2ede7 url(../images/icon_hint_pc.png) no-repeat 12px top;
	min-height: 67px;
}
.hintBlock .icon {
	display: none;
}
}
