@charset "shift_jis";
/* CSS Document */

#news .box-wrap {
	margin-bottom:35px;
}
#news .box-wrap .box-ttl {
	background-image: url(/nec102/images/bg_info.gif), url(/nec102/images/bg_info2.gif);
	background-repeat: no-repeat, repeat-x;
	background-position: left bottom, left bottom;
	padding:0 0 15px 0;
}

#news .box-wrap .box-ttl h2 {
	padding:7px 0 7px 45px;
	font-size:21px;
	font-weight:bold;
	line-height: 1;
}


/*support*/
#news .box-wrap.support .box-ttl h2 {
	background:url(/nec102/images/icon_support.jpg) no-repeat left top;
}
#news .box-wrap.support dl {
	padding:10px 0;
	border-bottom:dotted 1px #0082CE;
	font-size:16px;
	font-weight:normal;
	line-height: 1.3;
	text-shadow: 0 0 1px #ccc;
}
#news .box-wrap.support dl dt {
	font-size:18px;
	margin-bottom:4px;
}
#news .box-wrap.support dl a {
	text-decoration:none;
	display:block;
}
#news .box-wrap.support dl dd .detail {
	margin-top:10px;
}

#news .box-wrap.support dd {
	padding:0 10px 0;
	margin-bottom:4px;
}

#news .box-wrap.support p {
	font-size: 16px;
	font-weight:bold;
	padding:0;
}
#news .box-wrap.support p a {
	font-size: 16px;
	font-weight:bold;
}
#news .box-wrap.support ul {
	padding:5px;
}
#news .box-wrap.support li {
	font-size: 14px;
	line-height: 1.2em;
	margin-left: 1em;
	text-indent: -0.8em;
	text-shadow: 0 0 1px #CCC;
	font-weight:normal;
}
#news .box-wrap.support li a {
	font-size: 14px;
}