@charset "UTF-8";
/* CSS Document */

#register nav .protocol {
	background: #b5e6ff;
}

#register .box-wrap .btn {
	background: url(/bsma004/images/img_arrow_gray.png) 96% 50% no-repeat;
	color: #575757;
	border: 1px solid #dddddd;
	font-size: 100%;
	background-size: 8px;
	padding: 20px 40px 18px 20px;
}

#register .box-wrap .btn.key {
	background: url(/bsma004/images/img_arrow_gray.png) 96% 50% no-repeat, url(/bsma004/images/img_key.png) 90% 50% no-repeat;
	color: #575757;
	border: 1px solid #dddddd;
	font-size: 100%;
	background-size: 8px, 14px;
	padding: 20px 60px 18px 20px;
}