@charset "shift_jis";

* {
	margin:0;
	padding:0;
}

html,
body {
	height:100%;
}

ul,
ol,
dl {
	list-style-type:none;
}

img,
a img {
	border:0;
}

table {
	border-collapse:collapse;
}

textarea {
	font-size:100%;
}

br {
	letter-spacing:0;
}

option {
	padding:0 10px 0 0;
}


/* clearfix
------------------------------------------------------------------------------*/
#header:after,
#pathArea:after,
#footer .iconArea:after,
.clearfix:after {
	content:"";
	display:block;
	clear:both;
	height:0;
	visibility:hidden;
}
/* clearfix ie7
------------------------------------------------------------------------------*/
*:first-child+html #header,
*:first-child+html #pathArea,
*:first-child+html #footer .iconArea,
*:first-child+html .clearfix {
	zoom:1;
}
/* clearfix ie6
------------------------------------------------------------------------------*/
* html #header,
* html #pathArea,
* html #footer .iconArea,
* html .clearfix {
	zoom:1;
}

body {
	background:none;
	font-family:"ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:150%;
	color:#333333;
}
a {
	color:#3A54A0;
}
a:hover {
	text-decoration:none;
	color:#F00;
}

/* header
------------------------------------------------------------------------------*/
#header {
	margin: 0 auto;
	padding: 20px 0 18px;
	border-bottom: 2px solid #81c96c;
}
#header #hd_logo {
	float: left;
	padding-left: 10px;
}
#header #hd_logo .sprite {
	width: 146px;
	height: 31px;
	background: url(../images/sprite.png) 0 0 no-repeat;
}
/* PathArea
------------------------------------------------------------------------------*/
#pathArea {
	margin: 0 auto;
	padding: 8px 0 15px;
	font-size: 85%;
}
#pathArea #suQaNumber {
	float: right;
}
#pathArea #suQaNumber .sprite {
	width: 72px;
	height: 17px;
	margin-right: 8px;
	background: url(../images/sprite.png) -356px 0 no-repeat;
	vertical-align: middle;
}
/* footer
------------------------------------------------------------------------------*/
#footer {
	margin: 0 auto;
	border-top: 1px solid #d4d4d4;
}
#footer {
	padding: 10px 0 0;
}
#footer .iconArea {
	text-align: center;
	width: 211px;
	margin: auto;
	padding-left: 9px;
}
#footer .iconArea .iconNec .sprite {
	margin-right: 4px;
	width: 81px;
	height: 36px;
	background: url(../images/sprite.png) -273px -20px no-repeat;
}
#footer .linkArea {
	text-align: center;
	font-size: 85%;
	line-height: 160%;
}
#footer .linkArea a {
	color: #0066cc;
}
#footer .copyright {
	padding: 10px 0;
	text-align: center;
}
/* toppage
------------------------------------------------------------------------------*/
#toppage #MainContents {
	margin: 0 auto;
	text-align: left;
}
/* スマートフォン用　折りたたみメニューの実装 START　2012.06.08 飯田  */
#toppage #MainContents .box-wrap {
	border-top: solid 1px #1631C2;
}
#toppage #MainContents .box-wrap .box-ttl {
	padding:18px 10px;
	background: url(../images/icon_open.gif) no-repeat left center, -moz-linear-gradient(top, #92aeea, #FFFFFF);
	background: url(../images/icon_open.gif) no-repeat left center, -webkit-gradient(linear, left top, left bottom, from(#92aeea), to(#FFFFFF));
	background: url(../images/icon_open.gif) no-repeat left center, linear-gradient(linear, left top, left bottom, from(#92aeea), to(#FFFFFF));
	
	border-top: solid 1px #FFFFFF;
	border-bottom: solid 1px #FFFFFF;
}
#toppage #MainContents .box-wrap .box-ttl.selected {
	padding:18px 10px;
	background: url(../images/icon_close.gif) no-repeat left center, -moz-linear-gradient(top, #92aeea, #FFFFFF);
	background: url(../images/icon_close.gif) no-repeat left center, -webkit-gradient(linear, left top, left bottom, from(#92aeea), to(#FFFFFF));
	background: url(../images/icon_close.gif) no-repeat left center, linear-gradient(linear, left top, left bottom, from(#92aeea), to(#FFFFFF));
}
#toppage #MainContents .box-wrap .box-ttl .con-image {
	float:left;
	width:46px;
	margin-right:10px;
}
#toppage #MainContents .box-wrap .box-ttl .con-txt {
	/* float:left; */
	text-align:left;
	font-weight:bold;
	/* font-size:180%; */
	padding:13px 10px 13px 10px;
	height:auto!important;
	/* width:244px; */
}
#toppage #MainContents .box-wrap .box-ttl h1 {
	color: #1631C2;
	/* font-size: 21px; */
	line-height:1;
	text-shadow: 0 0 1px #d9cec8;
	/* font-weight: bold; */
	margin-left: 46px;
}
#toppage #MainContents .box-wrap .box-ttl .lead {
	padding: 6px 0 0;
	color: #000;
	font-size: 11px;
	line-height:1.2;
	text-shadow: 0 0 1px #ccc;
	letter-spacing:-0.1em;
}
#toppage #MainContents .box-wrap .box-inner {
	margin: 0;
	padding:0 10px 18px;
}
/* clearfix */
.clfix:after {
  	content: "."; 
  	display: block; 
  	height: 0; 
  	clear: both; 
  	visibility: hidden;
}
.clfix {
	display: inline-block;
}

/* Hides from IE-mac \*/
* html .clfix {
	height: 1%;
}
.clfix {
	display: block;
}
/* End hide from IE-mac */

/* スマートフォン用　折りたたみメニューの実装 END  　2012.06.08 飯田  */
#toppage #MainContents h1.h1_sstop {
	padding: 10px;
	background: #c5e272;
	border: 3px solid #62b71e;
	border-radius: 5px;
	/* font-size: 180%; */
}
#toppage #MainContents .navi_sstop {
	padding: 8px 0 0;
}
#toppage #MainContents .navi_sstop li {
	line-height: 140%;
	float: left;
	padding: 0 10px;
}
#toppage #MainContents .navi_sstop li .sprite {
	width: 99px;
	height: 46px;
	background: url(../images/sprite.png) 0px 0px no-repeat;
}
#toppage #MainContents .navi_sstop #navi_exchange .sprite {
	background-position: -594px -67px;
}
#toppage #MainContents .navi_sstop #navi_cancell .sprite {
	background-position: -693px -67px;
}
#toppage #MainContents .navi_sstop #navi_exchange a:hover .sprite {
	background-position: -594px -113px;
}
#toppage #MainContents .navi_sstop #navi_cancell a:hover .sprite {
	background-position: -693px -113px;
}
#toppage #MainContents h2 {
	margin: 15px 0 20px;
	padding: 8px 20px 6px;
	font-size: 120%;
	color: #097c25;
	background: -moz-linear-gradient(top, #b3d587, #ffffff 36%, #ffffff 64%, #b3d587);
	background: -webkit-gradient(linear, left top, left bottom, from(#b3d587), color-stop(0.36, white), color-stop(0.64, white), to(#b3d587));
}
#toppage #MainContents h2#cancell {
	color: #7e3c02;
	background: -moz-linear-gradient(top, #d5aa87, #ffffff 36%, #ffffff 64%, #d5aa87);
	background: -webkit-gradient(linear, left top, left bottom, from(#d5aa87), color-stop(0.36, white), color-stop(0.64, white), to(#d5aa87));
}
#toppage #MainContents .inBox {
	padding: 0 35px;
}
#toppage #MainContents .inBox p {
	line-height: 160%;
}
#toppage #MainContents .inBox .info01 {
	padding: 4px 0 0 0px;
}
#toppage #MainContents .YellowBox {
	border: 2px solid #e7ca64;
	padding: 6px 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#toppage #MainContents .YellowBox #trouble {
	font-weight: bold;
	font-size: 120%;
}
#toppage #MainContents .YellowBox #trouble span {
	color: #ff6600;
	padding-right: 10px;
}
#toppage #MainContents .note {
	font-size: 85%;
	line-height: 160%;
	padding-left: 1em;
	text-indent: -1em;
}
#toppage #MainContents .indent li {
	padding-left: 1em;
	text-indent: -1em;
}
#toppage #MainContents .YellowBox #count {
	font-weight: bold;
	font-size: 120%;
}
#toppage #MainContents .YellowBox #count span {
	color: #ff6600;
	padding-right: 10px;
}
#toppage #MainContents #pricetext {
	font-weight: bold;
	font-size: 133%;
	color: #ef3166;
}
#toppage #MainContents #pricetext span {
	color: #366de4;
	padding-right: 10px;
}
#toppage #MainContents #flowimage {
	padding: 15px 0;
	font-size: 120%;
	font-weight: bold;
}
#toppage #MainContents #flowimage span {
	font-weight: normal;
	font-size: 85%;
	padding-left: 1em;
}
#toppage #MainContents .inBox .price01 {
	padding: 1em 0 1em;
	font-size: 120%;
}
#toppage #MainContents .inBox #smartphone {
	float: left;
	padding: 0 69px 0 39px;
}
#toppage #MainContents .inBox #smartphone .sprite {
	width: 67px;
	height: 167px;
	background: url(../images/sprite.png) -728px -343px no-repeat;
}
#toppage #MainContents .inBox #applyBtn {
	padding: 5px 0 15px;
}
#toppage #MainContents .inBox #applyBtn .sprite {
	width: 309px;
	height: 74px;
	background: url(../images/sprite.png) 0px -809px no-repeat;
}
#toppage #MainContents .inBox #applyBtn a:hover .sprite {
	background-position: -309px -809px;
}
#toppage #MainContents .inBox .atten {
	list-style-type: disc;
	line-height: 160%;
}
#toppage #MainContents .inBox .atten ul {
	list-style-type: circle;
	padding-left: 1em;
}
#toppage #MainContents .inBox #exchangetext {
	margin: 10px 0 15px;
	padding: 10px;
	border: 3px solid #88aaf1;
	border-radius: 5px;
	background: #edf2fc;
	font-size: 120%;
	font-weight: bold;
}
#toppage #MainContents .inBox #exchangetext .sprite {
	margin: 5px 0 10px;
	width: 721px;
	height: 169px;
	background: url(../images/sprite.png) 0px -883px no-repeat;
}
#toppage #MainContents .inBox #cancelltext {
	margin: 10px 0 15px;
	padding: 10px;
	border: 3px solid #c7c5aa;
	border-radius: 5px;
	background: #f6f4ee;
	font-size: 120%;
	font-weight: bold;
}
#toppage #MainContents .mainText {
	font-size: 120%;
}
#toppage #MainContents #apply {
	/* margin-bottom: 40px; */
}
.topagetop {
	padding: 20px 5px 30px 0;
	text-align: right;
}
.red {
	color: #ee0606;
}
#apply01 {
	margin: 10px 0 0;
/*	float: left;*/
}
/*
#apply01 .sprite {
	width: 279px;
	height: 74px;
	background: url(../images/sprite.png) 0px -809px no-repeat;
}
#apply01 a:hover .sprite {
	background-position: -308px -809px;
}
*/
#apply02 {
	margin: 20px 0 10px;
/*	float: left;*/
}
/*
#apply02 .sprite {
	width: 279px;
	height: 74px;
	background: url(../images/sprite.png) 0px -1196px no-repeat;
}
*/
#apply02 a:hover .sprite {
	background-position: -308px -1196px;
}
ol.number {
	list-style-type: decimal;
	list-style-position: inside;
}
ol.number.float_none ul {
	list-style-type: disc;
}